*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #9e7f66;
  color: #fff; }

@keyframes slideLeft {
  0% {
    transform: translateX(12rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideRight {
  0% {
    transform: translateX(-12rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

body {
  font-family: "Spartan", sans-serif;
  color: #242b37;
  font-weight: 400; }

.heading-1 {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.125;
  letter-spacing: -0.8px; }
  @media only screen and (max-width: 1200px) {
    .heading-1 {
      font-size: 5.5rem; } }
  @media only screen and (max-width: 1050px) {
    .heading-1 {
      font-size: 4.8rem;
      line-height: 1.333;
      letter-spacing: -0.6px; } }
  @media only screen and (max-width: 600px) {
    .heading-1 {
      font-size: 3.2rem;
      line-height: 1.25;
      letter-spacing: -0.4px; } }

.heading-2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.5px; }
  @media only screen and (max-width: 600px) {
    .heading-2 {
      font-size: 3.2rem;
      line-height: 1.25;
      letter-spacing: -0.4px; } }

.heading-3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.556;
  letter-spacing: -0.23px; }

.paragraph {
  font-size: 1.8rem;
  line-height: 1.667;
  letter-spacing: -0.23px; }
  @media only screen and (max-width: 600px) {
    .paragraph {
      font-size: 1.5rem;
      line-height: 1.667;
      letter-spacing: -0.19px; } }

.paragraph-sm {
  font-size: 1.5rem;
  line-height: 1.867;
  letter-spacing: -0.19px; }
  @media only screen and (max-width: 600px) {
    .paragraph-sm {
      line-height: 1.667; } }

.mb-small {
  margin-bottom: 2rem; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  border: 1px solid;
  padding: 2rem 5rem 1.8rem;
  font-weight: 500;
  transition: all .6s; }
  .btn--dark {
    color: #fff;
    background-color: #111;
    border-color: #fff; }
    .btn--dark:hover {
      background-color: #fff;
      color: #111;
      border-color: #111; }

.picture {
  width: 37.5vw;
  box-shadow: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5); }

.seperator {
  margin-bottom: 5.5rem; }

.home-intro {
  background: url(../images/homepage/hero-bg-desktop.jpg), #111;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 6.5rem 11vw 20rem; }
  .home-intro__content {
    color: #fff;
    margin-top: 12rem;
    width: 53rem; }
    @media only screen and (max-width: 1200px) {
      .home-intro__content {
        margin-top: 7rem;
        padding-right: 2rem; } }
  .home-intro__text {
    margin-bottom: 5rem;
    width: 85%; }

.features__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11vw;
  position: relative; }
  .features__row::after {
    content: "";
    position: absolute;
    width: 62vw;
    height: 45vw;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1; }
  .features__row--left::after {
    top: 38.5%;
    left: 0;
    background-image: url(../images/patterns/pattern-curve-top-right.svg);
    background-position: right top; }
  .features__row--right {
    flex-direction: row-reverse; }
    .features__row--right::after {
      right: 0;
      top: 53%;
      background-image: url(../images/patterns/pattern-curve-top-left.svg);
      background-position: left top; }
    .features__row--right::before {
      content: url(../images/patterns/pattern-lines.svg);
      position: absolute;
      right: calc(11vw - 11rem);
      top: 50%;
      transform: translateY(-50%); }
  .features__row:not(:last-child) {
    margin-bottom: 12rem; }

.features__content {
  width: 31vw; }

.features__row:first-child .features__img {
  margin-top: -7rem; }

.features__row:last-child .features__img {
  margin-bottom: -7rem; }

.highlights {
  background-color: #111;
  color: #fff;
  padding: 20rem 11vw 12rem; }
  .highlights__container {
    display: flex;
    justify-content: space-between; }
  .highlights__left {
    width: 31vw; }
  .highlights__right {
    width: 37.5vw; }
  .highlights__item {
    display: flex;
    align-items: center;
    padding: 2.6rem 0; }
    .highlights__item:first-child {
      padding-top: 0; }
    .highlights__item:last-child {
      padding-bottom: 0; }
    .highlights__item:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .highlights__title-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; }
  .highlights__line {
    width: 3.2rem;
    height: 1px;
    background-color: #9e7f66;
    margin-right: 3rem; }
  .highlights__text {
    margin-left: 6.2rem; }

.slider {
  padding: 15rem 11vw;
  position: relative; }
  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37vw;
    height: 30rem;
    background-image: url(../images/patterns/pattern-curve-top-right.svg);
    background-size: 100%;
    background-position: right top;
    z-index: -1; }
  .slider__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .slider__container::before {
      content: url(../images/patterns/pattern-lines.svg);
      position: absolute;
      left: -4rem;
      top: 0;
      transform: translateY(-50%); }
  .slider__content {
    display: none;
    width: 31vw;
    margin-left: 8.5vw;
    margin-bottom: 6.5rem;
    animation: slideLeft 0.7s ease-out; }
    .slider__content.active {
      display: block; }
  .slider .btn {
    display: inline-block;
    margin-top: 3.5rem; }
  .slider__img {
    display: none;
    animation: slideRight 0.7s ease-out; }
    .slider__img.active {
      display: block; }
  .slider__tab {
    display: flex;
    align-items: center; }
    .slider__tab:not(:last-child) {
      margin-bottom: 2rem; }
  .slider__tab-line {
    background-color: #9e7f66;
    height: 1px;
    width: 6.5vw;
    visibility: hidden;
    opacity: 0;
    transition: all 1s; }
  .slider__tab.active .slider__tab-line {
    visibility: visible;
    opacity: 1; }
  .slider__tab-title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #111;
    opacity: 0.5;
    margin-left: 2vw;
    cursor: pointer;
    transition: opacity 0.4s; }
    .slider__tab-title:hover {
      opacity: 1; }
  .slider__tab.active .slider__tab-title {
    opacity: 1; }
