$color-primary: #9e7f66;
$color-primary-black: #111;

$color-dark-1: #17192b;
$color-dark-2: #242b37;
$color-grey: #5c6779;
$color-error: #b54949;

$padding-side-desktop: 11vw;
$padding-side-tablet-lg: 12.6vw;
$padding-side-tablet-sm: 5.1vw;
$padding-side-mobile: 6.4vw;

$bshadow-1: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5);
$bshadow-2: 0 1.5rem 2.5rem 0 rgba(56, 66, 85, 0.5);