@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/picture";
@import "components/seperator";

@import "layout/footer";

@import "pages/home/intro";
@import "pages/home/features";
@import "pages/home/highlights";
@import "pages/home/slider";
@import "pages/home/cta";

@import "pages/booking/container";
@import "pages/booking/form";
@import "pages/booking/success";
