.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  border: 1px solid;
  padding: 2rem 5rem 1.8rem;
  font-weight: 500;
  transition: all .6s;

  &--dark {
    color: #fff;
    background-color: $color-primary-black;
    border-color: #fff;

    &:hover {
      background-color: #fff;
      color: $color-primary-black;
      border-color: $color-primary-black;
    }
  }
}
