.picture {
  width: 37.5vw;
  box-shadow: $bshadow-1;

  @include respond(tablet) {
    width: 100%;
    max-width: 58rem;
    margin-bottom: 4.3rem !important;
  }

  @include respond(mobile) {
    max-width: 33rem;
  }
}
