.success {
  visibility: hidden;
  opacity: 0;
  background-color: rgba($color-primary-black, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: $padding-side-mobile;
  z-index: 9999;
  transition: all 0.3s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 90%;
    max-width: 40rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: $bshadow-2;
    font-size: 1.8rem;
    transform: translate(-50%, 80%);
    opacity: 0;
    transition: all 0.5s 0.2s;
  }

  &.active &__content {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: $color-primary;
    cursor: pointer;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-weight: 700;
    transform: translateY(-50%);
  }
}
